*{
    padding: 0;
    margin: 0;
}

    
/* font-family: 'Bebas Neue', cursive; */

body{
    font-family: Montserrat;
    overflow-x: hidden;
}

/* ::::::::::::::::::::::::::::::::::::::::: HEADER ::::::::::::::::::::::::::::::::::::::::: */

.cuadroHeader img{
    width: 100%;
    max-width: 1500px;
    height: 15px;
}

.cuadroHeader1{
    background-image: url(../img/cuadroBLACK.svg);
    background-size: cover;
    color: white;
    margin-top: -4px;
    padding: 0.5rem;
    text-align: center;
}


.centerSearch{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.iconos{
    position: absolute;
    top: 12%;
    left: 85%;
    color: #312B89;
}

.fa-derecha{
    margin: 0 1rem;
}

.fondonav{
    margin: -70px 0;
    display: flex;
    background-image: url(../img/navbarLOGO.svg);
    background-size: cover;
    height: 120px;
    
}

.fondonav img{
    width: 100%;
    max-width: 10000px;

}

.fondonav p{
    margin: 0 1.8rem;
    position: relative;
    top: 70%;
    left: 17%;
}

.fondonav p i{
    margin: 0 1rem;
}

/* ::::::::::::::::::::::::::::::::::::::::: BODY ::::::::::::::::::::::::::::::::::::::::: */


.maquillaje{
    background-image: url(../img/makeupIndex.svg);
    background-size:auto;
    height: 400px;
    margin-top: 80px;
    padding-top: 3rem;
    padding-left: 4rem;
}

.maquillaje h1{
    text-shadow: 3px 3px 2px rgba(46, 45, 45, 0.452);
    box-shadow: -2px 0px rgba(46, 45, 45, 0.356);
    border-left: 8px solid white;
    padding-top: 1rem;
    padding-left: 1rem;
    font-family: Bebas Neue;
    font-size: 130px;
    width: 500px;
    color: white;
    font-weight: 400;
}

.maquillaje button{
    border-radius: 8px;
    padding: 0.5rem 1rem;
    position: relative;
    left: 1.5rem;
    border: 1px solid gray;
}

.maquillaje button a{
    text-decoration: none;
    font-family: Montserrat;
    color: black;
    
}

.ropa{
    margin-top: 10px;
    background-image: url(../img/ropaIndex.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 445px;

}

.ropa h1{
    border-right: 8px solid white;
    box-shadow: 3px 0px rgba(46, 45, 45, 0.294);
    text-shadow: 3px 3px 2px rgba(46, 45, 45, 0.452);
    padding-top: 1rem;
    padding-right: 1rem;
    font-family: Bebas Neue;
    font-size: 130px;
    width: 500px;
    color: white;
    font-weight: 400;
    text-align: right;
    position: relative;
    top: 10%;
    left: 58%;
}

.ropa button{
    border: 1px solid gray;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    position: relative;
    top: 10%;
    left: 88%;
}

.ropa button a{
    text-decoration: none;
    font-family: Montserrat;
    color: black;
}



.rosa{
    background-color: #F2977B;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    padding: 0.5rem 0;
}

.rosa .rose{
    display: flex;
    flex-direction: row;
}

.iconoRose{
    align-self: center;
    margin: 0 0.5em;
}

/* ::::::::::::::::::::::::::::::::::::::::: FOOTER ::::::::::::::::::::::::::::::::::::::::: */
footer{
    background-color: #2C2929;
    color: white;
}
footer .grupo-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 45px 2rem;
}

footer .grupo-1 .box {
    text-align: left;

}

footer .grupo-1 .box h4{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

footer iframe{
    border-radius: 100%;
    margin: 1rem 0;
    position: relative;
    left: 1.2rem;
}

footer .grupo-1 .box h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
}

footer .grupo-1 .box .informacion h2{
    margin-top: 1.5rem;
    position: relative;
    left: 1.2rem;
}

footer .grupo-1 .box p{
    margin-left: 8rem;
    margin-bottom: 5px;
    line-height: 1.5rem;
    border-left: 5px solid #621CED;
    border-radius: 4%;
    font-weight: 300;
    
    padding-left: 0.5rem;
    
}

footer .grupo-1 .box a{
    color: white;
    text-decoration: none;
    margin-top: 1rem;
}

.atajos{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 8rem;

}

.atajos i{
    margin: 0 0.5rem;
    margin-left: -1rem;
    color: #621CED;
}

.suscribete h6{
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

.suscribete button{
    background-color: #621CED;
    border-style: solid;
    border: none;
    padding: 0.5rem ;
    border-radius: 30px;
    position: relative;
    left: 5rem;
    top: 1.5rem;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 300;
}

.red-social{
    position: relative;
    left: 5rem;
    top: 3rem;
}

.red-social i{
    margin: 0 5px;
    color: #621CED;
}

footer .grupo-2{
    background-color: #313030;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

footer .grupo-2 small{
    font-size: 15px;    
}

/* :::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: tableta ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (max-width:768px) {
    
}

/* :::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: medio ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width:1024px) {

    

}

/* :::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: grande ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width:1200px) {
    
}

